<h2><%= @question.title %></h2>
<p>by <%= @question.user.username %></p>
<p><%= @question.body %></p>

<% @question.answers.each do |answer| %>
  <fieldset><legend><%= answer.user.username %></legend>
  <%= answer.body %></fieldset>
<% end %>

<h3>Answer this question</h3>
<%= form_for [@question, Answer.new] do |f| %>
  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>
  <div>
    <%= f.submit "Answer" %>
  </div>
<% end %>
