<!DOCTYPE html>
<html>
<head>
  <title>HaxxorzOverflow</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <h1> <%= link_to "Haxxorz Overflow", root_path%></h1>
  <div id = "user_auth">
  <% if logged_in? %>
<p><%= link_to 'logout', logout_path %></p>
<%else%>
<%= link_to 'register', register_path %> | <%= link_to 'login', login_path %>
<%end%>
</div>

<%= yield %>


</body>
</html>
